@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2c3639;
  --foreground: #dcd7c9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply text-lg antialiased;
}

.prose * {
  @apply mb-6;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-bold !mt-12;
}

.prose h1 {
  @apply text-4xl;
}

.prose h2 {
  @apply text-2xl;
}

.prose a {
  @apply underline underline-offset-4;
}
