@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2c3639;
  --foreground: #dcd7c9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply text-lg antialiased;
}

.prose * {
  @apply mb-4;
}

.prose h1 {
  @apply text-4xl font-bold;
}

.prose a {
  @apply underline underline-offset-4;
}
